# Бот в Telegram для управления личным кабинетом в организации
[submodule "bot-telegram"]
	path = source/bot-telegram
	url = https://github.com/zaboal/bot-telegram_profile

# Схема баз данных организации
[submodule "database-schema"]
	path = source/database-schema
	url = https://github.com/zaboal/database-schema_organization
